<h1>276 Assignment 2</h1>
<div class="center-box">
    <div id="wrap">
        <div id="disp-box">
            <% @person.find_each do |pe| %>
                <div class="<%= pe.color %>" style="float:left,width:<%= pe.weight %>px,height:<%= pe.height %>px"><%= pe.name %></div>
            <% end %>
        </div>
    </div>
    <div class="btns">
        <%= link_to 'People', controller: 'people' %>
    </div>
</div>
