<h1><%= link_to 'RectangleDB', "/" %></h1>

<div class="center-box">
	<p>Click on a name to view that Rectangle's stats</p>
	<table>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Weight</th>
			<th>Height</th>
			<th>Color</th>
			<th>Stylishness</th>
		</tr>
		<% count = 0 %>
		<% @person.each do |person| %>
			<tr>
				<% count = count + 1 %>
				<td><%=count%></td>
				<td><%=link_to person.name, person_path(person)%></td>
				<td><%= person.weight %></td>
				<td><%= person.height %></td>
				<td><%= person.color %></td>
				<td><%= person.stylishness %></td>
			</tr>
		<% end %>
	</table>

	<div class="btns">
		<%= link_to 'New', new_person_path %>
		<%= link_to 'Back', "/" %>
	</div>
</div>
